<div class="well sidebar-nav">
  <ul class="nav nav-list">
    <li class="nav-header">管理者メニュー</li>
    <li><%= link_to "お知らせ管理", information_index_path  %></li>
    <li><%= link_to "Link2", "/path2"  %></li>
    <li><%= link_to "Link3", "/path3"  %></li>
  </ul>
</div>
