<div class="well sidebar-nav">
  <ul class="nav nav-list">
    <li class="nav-header">起業家メニュー</li>
    <li><%= link_to "お知らせ一覧", information_index_path  %></li>
    <li><%= link_to "登録情報管理", edit_user_path(current_user)  %></li>
    <li><%= link_to "Link3", "/path3"  %></li>
  </ul>
</div>
